<h1>{{questionsCtrl.question.fullinfo.question}}</h1>
<h4>{{questionsCtrl.question.fullinfo.description}}</h4>

<hr>
<br>

<div ng-repeat='x in questionsCtrl.question.fullinfo.answers | orderBy: "-created"'>
	<h2><span ng-bind = 'x.name'></span></h2>
	<p><b>Answer:</b> <span ng-bind ='x.answer'></span></p>
	<p><b>Support:</b> <span ng-bind = 'x.support'></span></p>
	<p id="like"><i><span ng-bind = 'x.like'></span> Likes</i></p>
	<button ng-click = 'questionsCtrl.addLike(x._id)'>Like</button>
	<br><br>
	<hr>
	<br>
</div>






